*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    color: #FFC300;
    font-family: 'Roboto', sans-serif;
}
p{
    color: #FFC300;
    font-family: 'Roboto', sans-serif;
}
.hero-BG{
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100%;
    background-position: center;
    background-size: cover;
}
span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
  .typewritterHeading{
      margin-top: 30%;
      padding-left: 15px;
      font-size: 4em;
  }
  .mockup
  {
      float: right;
      padding-right: 45px;
  }
  .btn_download{
    margin-top: 10%;
  }